<launch>
  <arg name="gui" default="false"/>
  <arg name="scenario_id" default="single"/>
  <arg name="brick_x" default="0.82"/>
  <arg name="brick_y" default="0.0"/>
  <arg name="brick_yaw" default="0.0"/>
  <arg name="expect_pose" default="true"/>
  <arg name="result_file" default="/tmp/visual_pick_trial.json"/>

  <include file="$(find brick_visual_pick)/launch/visual_pick_demo.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="rviz" value="false"/>
    <arg name="brick_x" value="$(arg brick_x)"/>
    <arg name="brick_y" value="$(arg brick_y)"/>
    <arg name="brick_yaw" value="$(arg brick_yaw)"/>
  </include>
  <node name="visual_pick_trial_monitor" pkg="brick_visual_pick"
        type="visual_pick_trial_monitor.py" output="screen" required="true">
    <param name="scenario_id" value="$(arg scenario_id)"/>
    <param name="result_file" value="$(arg result_file)"/>
    <param name="expect_pose" value="$(arg expect_pose)"/>
  </node>
</launch>
