<launch>
  <arg name="scenario_id"/>
  <arg name="brick_x"/>
  <arg name="brick_y"/>
  <arg name="brick_yaw"/>
  <arg name="known_x" default="$(arg brick_x)"/>
  <arg name="known_y" default="$(arg brick_y)"/>
  <arg name="known_yaw" default="$(arg brick_yaw)"/>
  <arg name="expect_success" default="true"/>
  <arg name="expected_failure" default=""/>
  <arg name="result_file"/>
  <arg name="pre_grasp_height" default="0.15"/>
  <arg name="small_obstacle" default="false"/>
  <arg name="obstacle_x" default="0.0"/>
  <arg name="obstacle_y" default="0.0"/>
  <arg name="lock_ag95_open" default="false"/>

  <include file="$(find ground_pick_orchestrator)/launch/ground_pick_demo.launch">
    <arg name="gui" value="false"/>
    <arg name="rviz" value="false"/>
    <arg name="brick_x" value="$(arg brick_x)"/>
    <arg name="brick_y" value="$(arg brick_y)"/>
    <arg name="brick_yaw" value="$(arg brick_yaw)"/>
    <arg name="pre_grasp_height" value="$(arg pre_grasp_height)"/>
    <arg name="small_obstacle" value="$(arg small_obstacle)"/>
    <arg name="obstacle_x" value="$(arg obstacle_x)"/>
    <arg name="obstacle_y" value="$(arg obstacle_y)"/>
    <arg name="lock_ag95_open" value="$(arg lock_ag95_open)"/>
  </include>

  <node name="ground_pick_trial_monitor" pkg="ground_pick_orchestrator"
        type="ground_pick_trial_monitor.py" required="true" output="screen">
    <param name="scenario_id" value="$(arg scenario_id)"/>
    <param name="known_x" value="$(arg known_x)"/>
    <param name="known_y" value="$(arg known_y)"/>
    <param name="known_yaw" value="$(arg known_yaw)"/>
    <param name="expect_success" value="$(arg expect_success)"/>
    <param name="expected_failure" value="$(arg expected_failure)"/>
    <param name="result_file" value="$(arg result_file)"/>
  </node>
</launch>
