<launch>
  <arg name="scenario_id"/>
  <arg name="goal_x"/>
  <arg name="goal_y"/>
  <arg name="goal_yaw"/>
  <arg name="result_file"/>
  <arg name="timeout" default="90.0"/>
  <arg name="expect_heading_gate" default="false"/>

  <include file="$(find bunker_navigation)/launch/navigation_demo.launch">
    <arg name="gui" value="false"/>
    <arg name="rviz" value="false"/>
  </include>

  <node name="navigation_trial_monitor" pkg="bunker_navigation"
        type="navigation_trial_monitor.py" required="true" output="screen">
    <param name="scenario_id" value="$(arg scenario_id)"/>
    <param name="goal_x" value="$(arg goal_x)"/>
    <param name="goal_y" value="$(arg goal_y)"/>
    <param name="goal_yaw" value="$(arg goal_yaw)"/>
    <param name="result_file" value="$(arg result_file)"/>
    <param name="timeout" value="$(arg timeout)"/>
    <param name="expect_heading_gate" value="$(arg expect_heading_gate)"/>
  </node>
</launch>
