<launch>
  <arg name="gui" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"
      value="$(find ground_manipulator_runtime)/worlds/ground_robot.world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="server_required" value="true"/>
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher"
    name="sim_world_to_map" required="true"
    args="0 0 0 0 0 0 1 world map"/>
  <node pkg="tf2_ros" type="static_transform_publisher"
    name="sim_localization_ground" required="true"
    args="0 0 0 0 0 0 map ground/odom"/>

  <include
    file="$(find ground_manipulator_runtime)/launch/ground_robot_runtime.launch"/>
</launch>
